body{
	text-align: center;
	font-family : Tahoma;
	font-size: 14px;
	background-color: black;
}

.all{
	text-align : left;
	width: 700px;
	margin: 100px auto;
	min-height: 600px;
	background-image : url(bg.jpg);
	border: 4px solid red;
}

nav#nav{
    background-image: url("bar1.png");
		background-repeat: repeat-x;
		height: 25px;
}

nav#nav:hover{
    background-image: url("bar2.png");
}

nav#nav:hover a.item{
		color: black;
}

nav a{
	text-decoration: none;
	margin-right: 40px;
	font-weight: bold;
}

.text{
  background-color: rgba(255, 255, 255, 0.5);
	height: 340px;
	margin-top: 350px;
}

h1{
	height: 10px;
	margin-left: 15px;
	font-size: 22px;
	padding-top: 10px;
}

p{
	font-weight: 540;
	padding-left: 15px;
	width: 660px;
	line-height: 22px;
	margin: 0;
	font-size: 13px;
}

li{
	background-color: white;
	height: 25px;
	width: 95px;
	border: 1px solid black;
	text-decoration: none;
}

li:hover{
	text-decoration: none;
	background-color: #FFFFAA;
}

a:visited{
	color: #808080
}

ul{
	margin-top: -70px;
	display: none;
	margin-bottom: -40px;
	margin-left: 165px;
	list-style-type: none;
}

#toolbox:hover ul{
	display: block;
	position: absolute;
	right: 150px;
}

span#toolbox{
	position: absolute;
	right: 820px;
	top: 300px;
}

a#title{
	position: absolute;
	top: 70px;
	left: 630px;
}

a#hammer{
	position: absolute;
	right: 700px;
	top: 50px;
}

a#screwdriver{
	position: absolute;
	right: 560px;
	top: 250px;
}

a#saw{
	position: absolute;
	left: 570px;
	top: 200px;
}

a#pincers{
	position: absolute;
	top: 365px;
	right: 560px;
}

li a:hover{
	color:black;
}

li a:visited{
	color: black;
}

a#saw:hover{
	margin-top: 10px;
}

a#title:hover{
	margin-top: 10px;
}

a#hammer:hover{
	margin-top: 10px;
}

a#screwdriver:hover{
	margin-top: 10px;
}

a#pincers:hover{
	margin-top: 10px;
}

span#humanfactor {
    position: relative;
    color: blue;
    cursor: pointer;
}

span#humanfactor:hover #meaning {
    display: block;
}

span#meaning {
		background-color: white;
		color: black;
		position: absolute;
		border: 2px solid blue;
    display: none;
    border-radius: 10px;
    padding: 5px;
    top: 17px;
    left: 0px;
    width: 200px;
}
